body {
    margin: 0;
    background-color: dimgray;
}

/*Navbar css -------------------------------------*/ 
#navbarList {
    top: 0;
    width: 100%;
    list-style-type: none; /*Zorgt dat er geen bolletjes meet staan*/
    margin: 0;
    padding: 0;
    overflow: hidden; /*Zorgt dat de ul elementen niet uit de lijst gaan*/
    background-color: #333;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navbarList li { /*Zet een border tussen alle knopjes*/
    border-right: 1px solid #808080;
}

#navbarList li:last-child{ /*Haalt de rechter border by contact info weg*/
    border-right: none;
    border-left:1px solid #808080 }

#navbarList li a { /*Text in de navbar*/
    display: block; 
    color: whitesmoke;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none; 
}

#navbarList li a:hover:not(.active) {
    background-color: #321;
}

.active {
    background-color: #231;
}

/*Project css -------------------------------------*/
.projectPageLeft:hover > li {
    opacity:0;
}
.projectPageLeft > li:hover {
    opacity:100;
}
.projectPageRight:hover > li{
    opacity: 0
}
.projectPageRight > li:hover {
    opacity: 100
}

.projectPageLeft:hover + .projectPageRight  {
    opacity:0;
}

.projectTitle {
    position: absolute;
    color: white;
}
.projectContainer {
    overflow: hidden;
    width: 30vw;
    height: 30vh;
    background-color: gray;
    transition: width 1.5s, height 1.5s;
}

.projectContainer:hover {
    width: 91vw;
    height: 115vh;
}

.projectContainer:hover .projectImage {
    opacity:100;
}

.projectImage { /*Dit is de class voor alle projectImage*/
    max-width: 40vw;
    max-height: 30vh;
    opacity: 0;
    transition: opacity 2s, width 2s, height 2.3s;
}

#projectImage1 { /*Individueele project image*/
    width: 40vw;
    height: auto;
    float: right;
    border: solid wheat;
}
#projectImage2 { /*Individueele project image*/
    width: auto;
    height: auto;
    border: solid purple;
}
#projectImage3 { /*Individueele project image*/
    width: 100%;
    height: auto;
    border: solid darkgreen;
}

.projectPageLeft {
    position: absolute;
    list-style-type: none;
    margin: 1vh, 0;
    padding: 0;
    transition: opacity 1s;
}
    .projectPageLeft li {
        padding:1vmin;
        transition: opacity 0.5s;
    }

.projectPageRight {
    float:right;
    list-style-type: none;
    margin: 1vh, 0;
    padding: 0;
    transition: opacity 1s;
}
    .projectPageRight li {
        float:right;
        clear:both;
        padding: 1vmin;
        transition: opacity 0.5s;
    }

.greenText {
    color: darkgreen;
    text-decoration: none;
}
.purpleText {
    color: purple;
    text-decoration: none;
}
.wheatText {
    color: wheat;
    text-decoration: none;
}


/*Resume css -------------------------------------*/

/*Contact css -------------------------------------*/
